*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    //background-image: linear-gradient(to right, #092c7a, #19255d, #1b1e42, #181729, #101010);
    background-image: radial-gradient(circle, #f9f8f9, #f4f2f6, #efecf3, #e8e7f0, #e0e2ee, #d9dfeb, #d2dce8, #cbd9e4, #c6d6de, #c2d3d7, #c0cfd0, #becbca);
}