$color-principal:#f8f1f1;
$color-secundario:#333;
$color-tabel-primario:#812575;
$tamanio1oovh: 100vh;
$tamanio20vh:20vh;
$tamanio1oox100to:100%;
$tamanio50x100to: 50%;
$tamanio20x100to:20%;
$tamanio10x100to:10%;
$tamanio120vh:120vh;
$tamanio400px:400px;
$tamanio50px:50px;
$tamanio20px:20px;
$borderprimario:1px;
$tamaniofontprimario:1rem;
$fontfamiliprimario:cursive;
$tamanio50vh:50vh;



